.nav-style {
  line-height: 20px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
}

.logo-image {
  height: 60px;
}

.cart {
  color: #383838;
  margin-left: 80px;
}

.cart:hover {
  color: black;
}

.bk {
  height: 400px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://marshesshopping.com/app/uploads/2017/07/Mens-Accessories-Header-1920-x-1080.jpg');
}

.heading {
  margin-top: 100px;
  margin-left: 150px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 42px;
  line-height: 42px;
  z-index: 2;
  letter-spacing: 1.5px;
  font-weight: 400;
}

.shop-link {
  margin-top: 100px;
  margin-left: 150px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  line-height: 32px;
  z-index: 2;
  font-weight: 400;
  text-decoration: underline;
}
.shop-link:hover {
  color: #265d9b;
}

.in-head {
  font-weight: 600;
}

.nav-links {
  text-decoration: none;
  color: #383838;
  letter-spacing: 1px;
  margin-right: 20px;
}

.nav-links:hover {
  text-decoration: underline;
  color: black;
}

.heading-main {
  margin-top: 80px;
  margin-bottom: 50px;
  margin-left: 35%;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-weight: 500;
  letter-spacing: 2px;
}

.home-content {
  margin-left: 5%;
  height: 500px;
  width: 380px;
}

.content-head {
  margin-top: 20px;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 35px;
  color: #353434;
}

.content-sub {
  margin-top: 20px;
  justify-content: center;
  margin-left: 20%;
  align-items: center;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 28px;
  color: #353434;
}

.mid-cont {
  margin-top: 15px;
}

.para {
  margin-top: 20px;
  background-image: url('../images/bg-con.jpg');
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.para-head {
  margin-top: 150px;
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  line-height: 20px;
  z-index: 3;
  letter-spacing: 1.5px;
  font-weight: 600;
}

.foot {
  background-color: #161414;
}

.foot-icon {
  margin-top: 80px;
  text-align: center;
  color: #fff;
  font-size: 22px;
}

.foot-data {
  margin-top: 10px;
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  line-height: 31px;
}

.foot-cont {
  padding: 30px;
}

.foot-right {
  margin-top: 200px;
}

.foot-data-right {
  margin-top: 20px;
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  line-height: 31px;
}

.foot-icon-right {
  margin-top: 50px;
  text-align: center;
  color: #fff;
  font-size: 30px;
}
.copy {
  text-align: center;
  margin-top: 30px;
  color: #fff;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
}

.shop-bg {
  height: 500px;
  background-position: center;

  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://www.wallpapertip.com/wmimgs/178-1781028_latest-men-fashion-wallpapers-fashion-men-wallpaper-hd.jpg');
}

.shop-head {
  margin-top: 20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 35px;
  color: #353434;
}

.shop-head:hover {
  text-decoration: none;
}

.shop-sub {
  padding: 20px;
  margin-left: 5%;
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #353434;
}

.about-bg {
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/about-back.jpg');
}

.about-head {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 20px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 20%;
  margin-top: 200px;
  text-align: center;
}

.item-head {
  margin-top: 20px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 42px;
  color: #1e1d1d;
}

.hr-item {
  margin-left: 0px;
  margin-top: 10px;
  width: 500px;
  align: left;
  margin-bottom: 10px;
  border-bottom: 1px solid #353434;
}

.item-sub {
  margin-top: 20px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 28px;
  color: #353434;
}

.item-img {
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 500px;
  margin-left: 50px;
}

.item-row {
  padding-top: 50px;
  background-color: #f7f7f7;
  margin-top: 100px;
  margin-bottom: 50px;
}

.item-desc {
  padding: 10px;
  margin-top: 20px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #353434;
}

.add-to {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #353434;
}

.add-to:hover {
  background-color: #000;
}

.cart-row {
  background-color: #f7f7f7;
  margin-top: 100px;
  margin-bottom: 50px;
}

.cart-hr {
  margin-top: 10px;
  margin-bottom: 20px;
  align: centre;
  width: 1000px;
  margin-bottom: 10px;
  border-bottom: 1px solid #353434;
}

.cart-img {
  height: 200px;
  width: 200px;
  align: center;
}

.cart-head {
  margin-top: 20px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 20px;
  color: #1e1d1d;
}

.cart-sub {
  margin-top: 20px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #353434;
}

.cart-quan {
  align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #353434;
}

.cart-quan:hover {
  background-color: #000;
}

.cart-inc-dec {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #353434;
  margin-left: 20px;
  margin-right: 20px;
}

.pay {
  margin-top: 20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: #353434;
}

.empt {
  align: center;
  margin-top: 40px;
  margin-bottom: 50px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1px;
}

.add-to-pay {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  margin-left: 50%;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #353434;
}

.add-to-pay:hover {
  background-color: black;
}
